
*.dll
bin/Debug/net472/0Harmony.xml
bin/Debug/net472/BepInEx.xml
bin/Debug/net472/MonoMod.RuntimeDetour.xml
bin/Debug/net472/MonoMod.Utils.xml
bin/Debug/net472/Nautilus.xml
*.cache
obj/Debug/net472/DrillDamage.csproj.CopyComplete
obj/Debug/net472/DrillDamage.csproj.FileListAbsolute.txt
*.pdb
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/DrillDamage.GeneratedMSBuildEditorConfig.editorconfig
obj/DrillDamage.csproj.nuget.g.targets
obj/DrillDamage.csproj.nuget.g.props
obj/project.assets.json
obj/DrillDamage.csproj.nuget.dgspec.json
obj/Debug/net472/DrillDamage.sourcelink.json
*.bin
