
*.dll
bin/Debug/net472/0Harmony.xml
bin/Debug/net472/BepInEx.xml
bin/Debug/net472/MonoMod.RuntimeDetour.xml
bin/Debug/net472/MonoMod.Utils.xml
bin/Debug/net472/Nautilus.xml
*.cache
obj/Debug/net472/DrillDamage.csproj.CopyComplete
obj/Debug/net472/DrillDamage.csproj.FileListAbsolute.txt
*.pdb
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/DrillDamage.GeneratedMSBuildEditorConfig.editorconfig
obj/DrillDamage.csproj.nuget.g.targets
obj/DrillDamage.csproj.nuget.g.props
obj/project.assets.json
obj/DrillDamage.csproj.nuget.dgspec.json
obj/Debug/net472/DrillDamage.sourcelink.json
*.bin
/.vs
/obj
/.vs
/.vs/DrillDamage
/.vs/DrillDamage/v17
.vs/DrillDamage/v17/.suo
.vs/DrillDamage/DesignTimeBuild/.dtbcache.v2
.vs/DrillDamage/FileContentIndex/28a48c9e-a3a0-4cbf-96c2-418e340adb17.vsidx
.vs/DrillDamage/FileContentIndex/6c6a6482-e284-4ab5-b636-e221ae618aab.vsidx
.vs/DrillDamage/v17/.futdcache.v2
.vs/DrillDamage/v17/.suo
.vs/DrillDamage/v17/DocumentLayout.json
.vs/ProjectEvaluation/drilldamage.projects.v7.bin
.vs/ProjectEvaluation/drilldamage.metadata.v7.bin
/.vs
